body{
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.weather-app-wrapper{
  max-width: 680px;
  margin:30px auto;
}
.weather-app{
 
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 8px;
  } 
.cities-name {
  font-size: 30;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  color: blue;
  margin-top: 45px;
  margin-bottom: 20px;
}
.row .btn {
  border-radius: 10px;
  border: 1px solid #8064e9;
  background: #8064e9;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.row .btn:hover {
  cursor: pointer;
  background: #5e41a7;
}
.weather-temperature img{
  margin-right: 5px;
  height: 64px;
  width: 64px;

}
.weather-temperature strong{
color:rgb(33,33,33);
font-size: 34px;
line-height: 1;
font-weight: 400;

}
.weather-temperature .units{
  position: relative;
  font-size: 14px;
  top: -16px;

  }
  .weather-temperature .units a{
    color: #000;
  }
.current-degree {
  font-weight: bold;
  font-size: 28px;
}

.weather-des {
  margin: 0;
  font-size: 12px;
}


.weather-forecast{
  text-align: center;
  color: #000;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 0;

}
.weather-forecast-date{
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min{
  opacity: 0.5;
}
.weather-forecast-temperature{
  font-size: 13px;
}
#search-form{
  display: block;
  margin: 0 auto;
}
/*
.wtsRwe {s
  color: #70757a;
  display: inline-block;
  font-size: 11px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}
***

*/



